<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <div class="title-holder">
    <h1 class="header">Angular Epic Spinners</h1>
    <h5 class="sub-header">Angular Implementation of <a class="link" href="http://epic-spinners.epicmax.co/" target="_blank">Epic
      Spinners</a></h5>

    <div class="get-started">
      <div class="get-started__docs">
        <h4>Get started</h4>
        <a href="https://github.com/hackafro/angular-epic-spinners" target="_blank" class="docs">Docs</a>
      </div>
      <div class="get-started-code">
        <p>npm install angular-epic-spinners</p>
        <p>yarn add angular-epic-spinners</p>
      </div>
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-atom-spinner></app-atom-spinner>
    </div>
    <div class="name">
      Atom Spinner
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-breeding-rhombus-spinner></app-breeding-rhombus-spinner>
    </div>
    <div class="name">
      Breeding Rhombus
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-circles-to-rhumbuses-spinner></app-circles-to-rhumbuses-spinner>
    </div>
    <div class="name">
      Circles to rhumbuses
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-fingerprint-spinner></app-fingerprint-spinner>
    </div>
    <div class="name">
      Fingerprint Spinner
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-flower-spinner></app-flower-spinner>
    </div>
    <div class="name">
      Flower Spinner
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-fulfilling-bouncing-circle-spinner></app-fulfilling-bouncing-circle-spinner>
    </div>
    <div class="name">
      Fulfilling Bouncing Circle
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-fulfilling-square-spinner></app-fulfilling-square-spinner>
    </div>
    <div class="name">
      Fulfilling Square
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-half-circle-spinner></app-half-circle-spinner>
    </div>
    <div class="name">
      Half Circle Spinner
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-hollow-dots-spinner></app-hollow-dots-spinner>
    </div>
    <div class="name">
      Hollow Dots Spinner
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-intersecting-circles-spinner></app-intersecting-circles-spinner>
    </div>
    <div class="name">
      Intersecting Circles
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-looping-rhombuses-spinner></app-looping-rhombuses-spinner>
    </div>
    <div class="name">
      Looping Rhombuses
    </div>
  </div>
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-orbit-spinner ></app-orbit-spinner>
    </div>
    <div class="name">
      Orbit Spinner
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-pixel-spinner></app-pixel-spinner>
    </div>
    <div class="name">
      Pixel Spinner
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-radar-spinner></app-radar-spinner>
    </div>
    <div class="name">
      Radar Spinner
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-scaling-squares-spinner></app-scaling-squares-spinner>
    </div>
    <div class="name">
      Scaling Squares Spinner
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-self-building-square-spinner></app-self-building-square-spinner>
    </div>
    <div class="name">
      Self Building Square
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-semipolar-spinner></app-semipolar-spinner>
    </div>
    <div class="name">
      SemiPolar Spinner
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-spring-spinner></app-spring-spinner>
    </div>
    <div class="name">
      Spring Spinner
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-swapping-squares-spinner></app-swapping-squares-spinner>
    </div>
    <div class="name">
      Swapping Squares Spinner
    </div>
  </div>

  <div class="spinner-holder">
    <div class="spinner-element">
      <app-trinity-rings-spinner></app-trinity-rings-spinner>
    </div>
    <div class="name">
      Trinity Rings Spinner
    </div>
  </div>
</div>

<footer>
  <h4>By <a href="https://github.com/hackafro" class="link">@hackAfro</a></h4>
  <p>This project is an implementation of the <a href="https://github.com/epicmaxco/epic-spinners" target="_blank" class="link">Epic Spinners</a> project created by <a href="https://github.com/epicmaxco" target="_blank" class="link">EpicMaxCo</a></p>
</footer>
