<!--The content below is only a placeholder and can be replaced.-->
<div style="display: flex; flex-wrap: wrap; height: 100%; background: #030810; padding: 20px">
  <div class="spinner-holder">
    <div class="spinner-element">
      <app-atom-spinner></app-atom-spinner>
    </div>
    <div class="name">
      Atom Spinner
    </div>
  </div>
  <div class="spinner-holder">
    <app-breeding-rhombus-spinner></app-breeding-rhombus-spinner>
  </div>
  <div class="spinner-holder">
    <app-circles-to-rhumbuses-spinner></app-circles-to-rhumbuses-spinner>
  </div>
  <div class="spinner-holder">
    <app-fingerprint-spinner></app-fingerprint-spinner>
  </div>
  <div class="spinner-holder">
    <app-flower-spinner></app-flower-spinner>
  </div>
  <div class="spinner-holder">
    <app-fulfilling-bouncing-circle-spinner></app-fulfilling-bouncing-circle-spinner>
  </div>
  <div class="spinner-holder">
    <app-fulfilling-square-spinner></app-fulfilling-square-spinner>
  </div>
  <div class="spinner-holder">
    <app-half-circle-spinner></app-half-circle-spinner>
  </div>
  <div class="spinner-holder">
    <app-hollow-dots-spinner></app-hollow-dots-spinner>
  </div>
  <div class="spinner-holder">
    <app-intersecting-circles-spinner></app-intersecting-circles-spinner>
  </div>
  <div class="spinner-holder">
    <app-looping-rhombuses-spinner></app-looping-rhombuses-spinner>
  </div>
  <div class="spinner-holder">
    <app-orbit-spinner></app-orbit-spinner>
  </div>

  <div class="spinner-holder">
    <app-pixel-spinner></app-pixel-spinner>
  </div>

  <div class="spinner-holder">
    <app-radar-spinner></app-radar-spinner>
  </div>

  <div class="spinner-holder">
    <app-scaling-squares-spinner></app-scaling-squares-spinner>
  </div>

  <div class="spinner-holder">
    <app-self-building-square-spinner></app-self-building-square-spinner>
  </div>

  <div class="spinner-holder">
    <app-semipolar-spinner></app-semipolar-spinner>
  </div>

  <div class="spinner-holder">
    <app-spring-spinner></app-spring-spinner>
  </div>

  <div class="spinner-holder">
    <app-swapping-squares-spinner></app-swapping-squares-spinner>
  </div>

  <div class="spinner-holder">
    <app-trinity-rings-spinner></app-trinity-rings-spinner>
  </div>
</div>

