/* You can add global styles to this file, and also import other style files */
body, main, html{
  margin: 0;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

body{
  background: #030810;
;
}
